html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 4.303vw;
    /* =37px @860px width */
    max-width: 860px;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 300px) {
    html {
        font-size: 14px;
    }
}

body {
    background-color: #F7F7F7;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ad {
    width: 100%;
}

.product {
    padding: 23px 20px 84px 23.5px;
    padding: 2.674vw 2.325vw 9.767vw 2.732vw;
}

.product-image {
    width: 40%;
    height: auto;
    display: inline-block;
}

.product-description-container {
    display: block;
    position: relative;
    width: 59%;
    padding-top: 14%;
    float: right;
}

.producer-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 12.558vw;
}

.producer-logo img {
    width: 100%;
    height: auto;
}

.product-warning {
    color: #EA335A;
    font-size: 22px;
    font-size: 0.5946rem;
    line-height: 1.864;
}

.product-name {
    font-size: 37px;
    font-size: 1rem;
    /*fluid typography*/
    line-height: 1.108;
    color: #000000;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
}

.product-volume {
    color: #757575;
    font-size: 27px;
    font-size: 0.73rem;
    line-height: 1.519;
}

.product-description {
    color: #000000;
    font-size: 23px;
    font-size: 0.6216rem;
    line-height: 1.478;
    margin-top: 18px;
    margin-top: 0.48648rem;
    margin-bottom: 41px;
    margin-bottom: 1.108rem;
}

.price,
.quantity {
    display: inline-block;
}

.quantity {
    margin-left: 6.27%;
}

.label {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    font-size: 16px;
    font-size: 0.4324rem;
    line-height: 2.563;
    color: #757575;
}

.price-container {
    color: #EA335A;
    font-size: 49px;
    font-size: 1.3243rem;
    line-height: 0.837;
    font-weight: bold;
}

.quantity .quantity-number {
    font-size: 23px;
    font-size: 0.6216rem;
    line-height: 1.478;
    color: #000000;
}

.timer-ribbon {
    width: 100%;
    height: 0;
    background-color: #EA335A;
    text-align: center;
    overflow: hidden;
}

.timer-ribbon.visible {
    height: auto;
}

.timer-container {
    height: auto;
    padding: 11px 2px;
    color: #ffffff;
    font-weight: bold;
    /*line-height: 32px;*/
    display: inline-block;
}

.timer-label {
    font-size: 22px;
    font-size: 0.5946rem;
}

.timer-digit-container {
    margin-left: 16px;
    margin-left: 0.43243rem;
    display: inline-block;
    font-size: 32px;
    font-size: 0.86486rem;
}

.timer-digit {
    display: inline-block;
    box-sizing: border-box;
    /*width: 36px;
    width: 4.186vw;
    height: 46px;
    height: 5.3488vw;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
*/
    width: 1rem;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
}

.timer-colon {
    visibility: hidden;
}

.timer-colon.visible {
    visibility: visible;
}

.order-button,
.form .submit {
    background-color: #EA335A;
    color: #ffffff;
    border-radius: 10px;
    font-size: 31px;
    font-size: 0.83783rem;
    line-height: 1.323;
    width: 234px;
    width: 27.21vw;
    height: 80px;
    height: 9.3vw;
    display: block;
    border: none;
    margin-top: 29px;
    margin-top: 0.78378rem;
    cursor: pointer;
}

.form .submit {
    padding: 18px 40px 21px;
    padding: 0.5806em 1.29em 0.677em;
    margin: 62px auto 0;
    margin-top: 7.21vw;
    text-align: center;
    width: auto;
}

.quantity-selector button {
    border: none;
    border-radius: 8px;
    background-color: #EA335A;
    color: #ffffff;
    font-size: 0.83783rem;
    width: 58px;
    width: 6.744vw;
    height: 38px;
    height: 4.4186vw;
    cursor: pointer;
}

.quantity-selector {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.quantity-selector .quantity-number {
    display: block;
    width: 38px;
    width: 4.4186vw;
    height: 38px;
    height: 4.4186vw;
    border-radius: 19px;
    border-radius: 2.2093vw;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    /*top: 11px;
    top: 1.279vw;*/
    top: 0.45em;
    left: 40px;
    left: 4.6511vw;
    line-height: 1.478;
    text-align: center;
    font-size: 23px;
    font-size: 0.6216rem;
    font-weight: bold;
}

.quantity-selector button.quantity-remove {
    padding-left: 14px;
    padding-left: 1.6279vw;
    text-align: left;
}

.quantity-selector button.quantity-add {
    padding-right: 14px;
    padding-right: 1.6279vw;
    text-align: right;
}

.quantity-selector.min button.quantity-remove,
.quantity-selector.max button.quantity-add {
    opacity: 0.3;
    cursor: not-allowed;
}

.terms label,
.rodo {
    font-size: 17px;
    font-size: 0.45946rem;
    line-height: 1.353;
    color: #757575;
    display: block;
}

.rodo {
    margin-top: 1em;
}

.terms input[type=checkbox] {
    float: left;
}

.form {
    padding: 71px 74px;
    padding: 8.255vw 8.6vw;
    /* margin-bottom: 71px;
    margin-bottom: 8.255vw;*/
    display: block;
    clear: both;
}

.form.hidden {
    display: none;
}

.form-title {
    margin-top: 18px;
    margin-top: 2.093vw;
    margin-bottom: 47px;
    margin-bottom: 5.465vw;
    font-size: 37px;
    font-size: 1rem;
    line-height: 1.108;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.form-title::before {
    content: "";
    background-image: url(./ic_timer_48px.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 36px;
    width: 4.186vw;
    height: 42px;
    height: 4.883vw;
    overflow: hidden;
    margin: 0 auto 18px;
    margin-bottom: 2.093vw;
}

.fields-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-field {
    padding: 16px 23px 19px;
    padding: 1.86vw 2.674vw 2.209vw;
    border: 1px solid #979797;
    border-radius: 9px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 9px;
    margin-bottom: 9px;
    box-sizing: border-box;
    width: auto;
    width: calc(100% - 2em);
    font-size: 20px;
    font-size: 0.54rem;
}


/*
.form-field:nth-child(odd) {
    margin-right: 8px;
    margin-right: 0.93vw;
}

.form-field:nth-child(even) {
    margin-left: 8px;
    margin-left: 0.93vw;
}
*/

input[type=radio]+label[for] {
    font-size: 20px;
    font-size: 0.54rem;
    color: #757575;
    cursor: pointer;
}

input[type=radio]+label[for]::before {
    width: 48px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}

input[type=radio]+label[for]::after {
    content: "";
    display: block;
}

input[type=radio]+label[for="delivery-inpost"]::before {
    content: url(./inpost.png);
}

input[type=radio]+label[for="delivery-post"]::before {
    content: url(./poczta.png);
}

input[type=radio]+label[for="applepay"]::before {
    content: url(./applepay.png);
}

input[type=radio]+label[for="payu"]::before {
    content: url(./payu.png);
}

input[type=radio]+label[for="blik"]::before {
    content: url(./blik.png);
}

.delivery-method,
.pay-form {
    margin-top: 40px;
    margin-bottom: 45px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

span.required::after,
.terms label::before {
    content: "*";
    color: red;
    position: absolute;
}

.form-fields span.required {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.terms label {
    margin-left: 1em;
}

.terms label::before {
    margin-left: -1em;
}


/* pulsating button */

.order-button {
    transform: scale(1);
    animation: pulse 2s infinite;
}